/****MAIN PAGE CONTENT*/
html{
  font: 100%;
}

* {
  box-sizing: border-box;
}

body{
  /*text-align: center;*/
  font-size: 1em;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: white;
  font-weight: 300;
}

.wrapper{
  width: 85%;
  height: 100%;
  margin: 5em auto 1em auto;
  padding: 1em 2em 1em 2em;
  border: solid #47a3da 2px;
}

.switch_mode_header{
  width: 100%;
  height: 3em;
  border-bottom: solid #47a3da 2px;
}

.content_list{
  display: block;
  padding-top: 1em;
}

h3{
  width: 20%;
  display: inline-block;
  font-weight: 700;
  font-size: 1.2em;
  color: #47a3da;
}

h4{
  width: 10%;
  display: inline-block;
  font-weight: 400;
  margin: .4em;
  padding: .2em;
  font-size: 1.2em;
  color: #c0c0c0;
}

li{
  padding-top: .2em;
  padding-bottom: .2em;
  display: block;
}

p{
  font-size: .9em;
  width: 35%;
  display: inline-block;
  margin: 0 1em;
  color: #47a3da;
  font-weight: 400;
  padding: .2em;
}

.fa{
  font-size: 2.5em;
  color: lightgrey;
  display: inline-block;
  padding: .1em .2em .1em .2em;
}

.fa:hover{
  font-size: 2.5em;
  color: #47a3da;
  display: inline-block;
  padding: .1em .2em .1em .2em;
}

#button2{
  border: none;
  background: white;
}


.toggle_icons{
  text-align: right;
}

img{
  width: 10%;
  display: inline-block;
}

/*add to cart hover color: 02639d*/
a{
  text-decoration: none;
}

#button1{
  margin: 2em 0;
  display: inline-table;
  text-decoration: none;
  background: #47a3da;
  border: none;
  width: 14em;
  height: 3.2em;
  border-radius: 2px;
}

#button1:hover {
  background: #02639d;
}

.plusSign{
  padding: 0 0.3em .05em .3em;
  margin: 0 .5em 0 -.5em;
  text-decoration: none;
  color: #47a3da;
  font-size: 1.3em;
  background: white;
  border-radius: 50%;
  font-weight: bold;
}

.add2cart{
  text-decoration: none;
  color: white;
  font-size: 1.4em;
}
